/* Aliss main style for public browsable views (A-Z index)*/
ul.alphabet_list li {
	display:inline;
}

ul.subalphabet_list li {
	display:inline;
	font-size: 0.8em;
	padding: 0px 1px;
}

.definitions_list dt {
	display:none;
}

.definitions_list dd {
	margin: 0;
	padding: 0;
	margin-bottom:1em;
}

.definition_source {
	font-size: 75%;
}

.menu_link {
}

.menu_selected {
	font-weight: bold;

}

.menu_empty {
}

.batch_container {
}

/* aliss overwrites */
.AlissLeftContainer {
	width: 70%;
}

.AlissRightContainer {
	width: 28%;
}
