/* Aliss main style for public browsable views */
ul.alphabet_list li {
 display:inline;
 background-color: #e9efcd;
 font-size:1.4em;
 padding: 0.2em;
}

ul.alphabet_list {
margin: 0.1em 0 0.1em 0;
}

ul.subalphabet_list li {
 display:inline;
 font-size: 0.8em;
 padding: 0px 1px;
}

.langcode {
 background:#95B229 none repeat scroll 0%;
 border:1px solid #95B229;
 color:white;
 line-height:2em;
 padding:0.2em;
}

.more_definitions {
 float:right;
}

#concept_area {
 float: left;
 width: 47%
}

#no_concept_area {
 float: left;
 width: 47%
}

#definitions-area #wikimedia-area {
 float:left;
}

#wikimedia-area #body {
 margin-top:-1em;
}

#wikimedia-area .link-rss {
 float:right;
 margin-top:0.5em;
}


#google-custom-search-area {
 float:right;
}

#translations-area {
 clear: left;
}

#google-custom-search-area #GCSSearchForm {
 display:none;
}

#search-results-area {
 float:left;
}

#see-also ul li {
 display: inline;
}

#translations-area ul, #translations-area ul li {
 list-style: none;
 display: inline;
}



#see-also ul li, #translations-area ul li {
 margin-left: -15px;
 padding: 3px 25px 3px 0px;
}

.definitions_list dt {
 display:none;
}

.definitions_list dd {
 background:#ECF3D0 url(open_quote.gif) no-repeat scroll 0.5em 0.75em;
 color:#000000;
 margin:1em auto;
 padding:1.5em 1em 1em 3em;
 width:70%;
}

.definition_source {
 background:transparent none repeat scroll 0%;
 font-size:x-small;
 font-style:normal;
 font-weight:normal;
 padding:0em 1em 0em 0em;
 text-align:right;
}

.menu_link {
 color:white;
}

.menu_selected {
 font-weight: bold;
}

.menu_empty {
}

.batch_container {
}

/* aliss overwrites */
.AlissLeftContainer {
 width: 70%;
}

.AlissRightContainer {
 width: 28%;
}

.gsc-query {
 color: green;
 font-weight: bold;
}

/* Google Custom search CSS */
.search-control {
 width : 100%;
}

.search-control .gsc-control {
 width : 100%;
}

/* Disable built in search forms */
.gsc-control form.gsc-search-box {
 display : none;
}

/* restrict global search form width */
#GCSSearchForm {
 width : 100%;
}

/* no ads: we are a governmental agency. This is ok by the terms */
.gsc-ad-box {
 display : none;
}

/* long form visible urls should be on */
.gsc-webResult div.gs-visibleUrl-long {
 display : block;
}

.gsc-webResult div.gs-visibleUrl-short {
 display : none;
}

.gsc-tabHeader {
font-size:1.2em;
font-weight:bold;
}

.gsc-resultsbox-visible {
margin-top:1.5em;
}

.gs-result .gs-title , .gs-result .gs-title * {
color:#2A6495 !important;
}

.gs-result a {
text-decoration:none !important;
border-bottom:1px solid #A6BACD !important;
}
.gs-snippet, .gs-visibleUrl {
padding-left:20px;
}

/* Slideshow related CSS */
.gss a img {}
.gss {
 width: 288px;
 height: 216px;
 color: #aaaaaa;
 background-color: #ffffff;
 padding: 8px;
}

/* JS Tooltip */
div#qTip {
 padding: 5px;
 border: 1px solid #666;
 display: none;
 background: #fff7c0;
 color: #000;
 font: bold 9px Verdana, Arial, Helvetica, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}

#report-bad-image {
 background: #f0f0f0 url(broken.png) no-repeat scroll 0px 5px;
 border: 1px solid #ccc;
 padding: 5px;
 padding-left: 18px;
}
#report-bad-image-area {
 margin-top:1em;
}

#wiki-loading  {
 background: #ffffff url(ajax-loader.gif) no-repeat scroll 0px 5px;
 padding: 5px;
 padding-left: 18px;
}

/* Aliss main style for customsearch  */

#translations-area {
 clear: left;
}

#translations-area ul, #translations-area ul li {
 display: inline;
 list-style: none;
}

#translations-area ul li {
 margin-left: -15px;
 padding: 3px 25px 3px 0px;
}

ul.alphabet_list li {
 display:inline;
 background-color: #e9efcd;
 font-size:1.4em;
}

ul.subalphabet_list li {
 display:inline;
 font-size: 0.8em;
 padding: 0px 1px;
}

.langcode {
 background:#95B229 none repeat scroll 0%;
 border:1px solid #95B229;
 color:white;
 line-height:2em;
 padding:0.2em;
}

.more_definitions {
 float:right;
}

#concept_area {
 float: left;
 width: 47%
}

#no_concept_area {
 float: left;
 width: 47%
}

#definitions-area {
 float:left;
}

#google-custom-search-area {
 float:right;
 width:47%;
}

#translations-area {
 clear: left;
}

.definitions_list dt {
 display:none;
}

.definitions_list dd {
 background:#ECF3D0 url(open_quote.gif) no-repeat scroll 0.5em 0.75em;
 color:#000000;
 margin:1em auto;
 padding:1.5em 1em 1em 3em;
 width:70%;
}

.definition_source {
 background:transparent none repeat scroll 0%;
 font-size:x-small;
 font-style:normal;
 font-weight:normal;
 padding:0em 1em 0em 0em;
 text-align:right;
}

.menu_link {
 color:white;
}

.menu_selected {
 font-weight: bold;
}

.menu_empty {
}

.batch_container {
}

/* aliss overwrites */
.AlissLeftContainer {
 width: 70%;
}

.AlissRightContainer {
 width: 28%;
}

.gsc-query {
 color: green;
 font-weight: bold;
}

/* Google Custom search CSS */
.search-control {
 width : 100%;
}

.search-control .gsc-control {
 width : 100%;
}

/* Disable built in search forms */
.gsc-control form.gsc-search-box {
 display : none;
}

/* restrict global search form width */
#GCSSearchForm {
 width : 100%;
}

/* no ads: we are a governmental agency. This is ok by the terms */
.gsc-ad-box {
 display : none;
}

/* long form visible urls should be on */
.gsc-webResult div.gs-visibleUrl-long {
 display : block;
}

.gsc-webResult div.gs-visibleUrl-short {
 display : none;
}
