RectBorder{
	borderCapColor:0xA3B5A2;
	borderColor:0xA3B5A2;
	buttonColor:0xA3B5A2;
	highlightColor:0xA3B5A2;
	shadowCapColor:0xA3B5A2;
	shadowColor:0xA3B5A2;
	themeColor:0xA3B5A2;
}

TextInput{
	backgroundColor:0xFFFFFF;
	color:0x245B29;
	borderStyle:solid;
}

RelatedResultsView{
	backgroundColor:0xEFEFEF;
	
	
		
	previewDefaultHeight:250;
		
	
	rowHeight:80;
}

SearchBox {
	align:right;
	widthMax:200;
	backgroundColor:0xFFFFFF;
	color:0x245B29;
	borderStyle:solid;
}

RelatedItemPreview{
	
	borderStyle:solid;
	borderRadius:0;
	borderOffset:10;
	backgroundColor:0xCCCCCC;
	
	dropShadowDistance:0;		
	dropShadowAlpha:0;	
}
RelatedItemPreview_PreviewImage{
	borderStyle:solid;

	borderRadius:25;
	borderOffset:10;
	
	backgroundColor:0xD9F2DE;
}
RelatedItemPreview_Progress{
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;
}

Message{
	borderStyle:solid;
	
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;
}
RelatedResultItem{
	font-family:Verdana,_sans;
	color:0xFF0000;
	emphasisColor:#000000;
	}

Application{
	dropShadowDistance:0;		
	dropShadowAlpha:0;


	minimizedWidth:400;
	minimizedHeight:26;
	expandedWidth:400;
	expandedHeight:auto;

	userTimeoutDuration:60000;
}
