RectBorder{
	borderCapColor:0xA3B5A2;
	borderColor:0xA3B5A2;
	buttonColor:0xA3B5A2;
	highlightColor:0xA3B5A2;
	shadowCapColor:0xA3B5A2;
	shadowColor:0xA3B5A2;
	themeColor:0xA3B5A2;
}

Button{
	themeColor:0x54BC5E;
	backgroundColor:0xFF0000;
	color:0x333333;	
	fontSize:12;
	fontWeight:normal;
	fontStyle:normal;	
	fontFamily:Verdana;	
	borderStyle:solid;
	borderColor:none;
	buttonColor:0xFFFFFF;
}

TextInput{
	backgroundColor:0xFFFFFF;
	color:0x245B29;
	borderStyle:solid;
}
List{
	
	backgroundColor:0xEAFBEE;
	borderStyle:solid;
	color:0x666666;
	fontFamily:Verdana;
	rollOverColor:0xe4f1bc;
	textRollOverColor:0x666666;
	
	
}

RelatedResultsView{
	backgroundColor:0xDFEBE2;
	
	alternatingRowColors:[0xffffff,0xf6f6f6];
	rowColor1:0xFFFFFF;
	rowColor2:0xF6F6F6;
	
		
	previewDefaultHeight:250;
	
	borderStyle:roundedBottom;
	borderRadius:25;
	borderOffset:25;
	
	borderGradientType:linear;
	borderGradientColor:[0xDFEBE2,0xCBDECE];
	borderGradientColorRatio:[0,128];
	borderGradientAngle:45;
	borderGradientAlpha:100;	
	
	dropShadowDistance:5;	
	dropShadowAngle:45;
	dropShadowColor:0x000000;	
	dropShadowAlpha:.3;
	dropShadowBlurX:2;
	dropShadowBlurY:2;
	dropShadowStrength:1;	
	dropShadowQuality:3;	
	dropShadowInner:false;	
	dropShadowKnockout:false;	
	dropShadowHideObject:false;		
	
	rowHeight:80;
}

SearchBox {
	align:left;
	widthMax:200;
	backgroundColor:0xFFFFFF;
	color:0x245B29;
	borderStyle:solid;
}

RelatedItemPreview{
	
	borderStyle:roundedTop;
	borderRadius:25;
	borderOffset:5;
	borderGradientType:linear;
	backgroundColor:0x87EEFF;

	
	dropShadowDistance:5;	
	dropShadowAngle:90;
	dropShadowColor:0x000000;	
	dropShadowAlpha:.3;
	dropShadowBlurX:2;
	dropShadowBlurY:2;
	dropShadowStrength:1;	
	dropShadowQuality:3;	
	dropShadowInner:false;	
	dropShadowKnockout:false;	
	dropShadowHideObject:false;		
}
RelatedItemPreview_PreviewImage{
	borderStyle:rounded;
	borderRadius:25;
	borderOffset:10;
	backgroundColor:0xD9F2DE;
}
RelatedItemPreview_Progress{
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;
}

Message{
	borderStyle:roundedBottom;
	borderRadius:25;
	borderOffset:25;
	
	borderGradientType:linear;
	borderGradientColor:[0xDFEBE2,0xCBDECE];
	borderGradientColorRatio:[0,128];
	borderGradientAngle:45;
	borderGradientAlpha:100;	
	
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;
}
RelatedResultItem{
	font-family:Verdana,_sans;
	color:0xFF0000;
	emphasisColor:#FF0000;
	}
