 
RectBorder{
	borderRadius:6;
	borderOffset:3;
	
	borderCapColor:0x97AF79;
	borderColor:0x97AF79;
	buttonColor:0x97AF79;
	highlightColor:0x3D70BC;
	shadowCapColor:0x2E548C;
	shadowColor:0x2E548C;
	themeColor:0x97AF79;
}

Button{
	color:0x333333;	
	font-size:12;
	font-weight:normal;
	font-style:normal;	
	font-family:Verdana;	


	borderCapColor:0x97AF79;
	borderColor:0x97AF79;
	buttonColor:0x97AF79;
	highlightColor:0x3D70BC;
	shadowCapColor:0x2E548C;
	shadowColor:0x2E548C;
	themeColor:0x97AF79;
}




List{
	backgroundColor:0xE6ECDF;
	rollOverColor:0x9BC2E7;

	borderStyle:solid;

	color:0x000000;
	font-family:Verdana,_sans;
	font-weight:normal;

	selectionColor:0xC1DEF0;
	textRollOverColor:0xFFFFFF;
	marginLeft:10;
}



RelatedResultsView{
	alternatingRowColors:[0xECF0E6,0xECF0E6];
	rollOverColor:0x9BC2E7;

	rowHeight:80;

	previewDefaultHeight:250;
		
	borderStyle:roundedBottom;
	borderRadius:25;
	borderOffset:25;
	
	borderGradientType:linear;
	borderGradientColor:[0xECF0E6,0xDCE3D2];
	borderGradientColorRatio:[0,250];
	borderGradientAngle:90;
	borderGradientAlpha:100;	
}

SearchBox {
	align:left;
	widthMax:200;

	borderStyle:rounded;
	borderRadius:2;
	borderOffset:0;
	
	borderGradientType:linear;
	borderGradientColor:[0xEEECEC,0xFFFFFF];
	borderGradientColorRatio:[0,255];

	borderGradientAngle:90;
	borderGradientAlpha:100;

	borderStrokeColor:0x9DB481;
	borderStrokeThickness:0;
	borderStrokeAlpha:100;
	borderStrokeStyle:round;

	color:0x484848;
	font-weight:bold;
	marginLeft:10;
}

RelatedItemPreview{
	
	borderStyle:roundedTop;
	borderRadius:25;
	borderOffset:5;
	borderGradientType:linear;
	backgroundColor:0x9BC2E7;

	
	dropShadowDistance:5;	
	dropShadowAngle:90;
	dropShadowColor:0x000000;	
	dropShadowAlpha:.3;
	dropShadowBlurX:10;
	dropShadowBlurY:6;
	dropShadowStrength:1;	
	dropShadowQuality:3;	
	dropShadowInner:false;	
	dropShadowKnockout:false;	
	dropShadowHideObject:false;		

}

RelatedItemPreview_PreviewImage{
	borderStyle:rounded;
	borderRadius:25;
	borderOffset:10;
	backgroundColor:0xE6ECDF;
}
RelatedItemPreview_Progress{
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;
}

Message{
	borderStyle:roundedBottom;
	borderRadius:25;
	borderOffset:25;
	
	borderGradientType:linear;
	borderGradientColor:[0xDFEBE2,0xCBDECE];
	borderGradientColorRatio:[0,128];
	borderGradientAngle:45;
	borderGradientAlpha:100;	
	
	font-family:Verdana,_sans;
	font-size:22;
	font-weight:bold;
	color:0x333333;

	borderStrokeColor:0x9DB481;
	borderStrokeThickness:0;
	borderStrokeAlpha:100;
	borderStrokeStyle:round;
}
RelatedResultItem{
	font-family:Verdana,_sans;
	textColor:#000000;
	emphasisColor:#FF0000;
	}

Application{
	dropShadowDistance:5;	
	dropShadowAngle:45;
	dropShadowColor:0x000000;	
	dropShadowAlpha:.3;
	dropShadowBlurX:2;
	dropShadowBlurY:2;
	dropShadowStrength:1;	
	dropShadowQuality:3;	
	dropShadowInner:false;	
	dropShadowKnockout:false;	
	dropShadowHideObject:false;

	minimizedWidth:400;
	minimizedHeight:26;
	expandedWidth:400;
	expandedHeight:auto;

	userTimeoutDuration:60000;
}

BusyGradient{
	color1:0xC7E99D;
	color2:0x94C853;
	busyHeight:4;
	padding:0;
}